* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: auto;
}
html {
  overflow-x: hidden;
}

.btn-primary {
  background: #045DFF;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

h3 {
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 3rem;
}

h4 {
  font-size: 22px;
  line-height: 30px;
}

.text-small {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
}
.text-lg {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #282828;
  margin-top: 55px;
  margin-bottom: 55px;
}

.container {
  padding-right: 2rem;
  padding-left: 2rem;
}

.logo {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 500;
}

.padding-top-10 {
  padding-top: 5rem;
}

.bg-aliceblue {
  background-color: aliceblue;
}

.video-cover {
  background: aliceblue;
  background-image: url('./assets/placeholder.png');
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.btn-round {
  background-color: #0d6efd;
  color: aliceblue;
  width: 50px;
  height: 50px;
  padding: 17px 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: none;
  transition: all .2 ease-in;
  -webkit-transition: all .2 ease-in;
  -moz-transition: all .2 ease-in;
  -ms-transition: all .2 ease-in;
  -o-transition: all .2 ease-in;
}

.btn-round:hover {
  background-color: aliceblue;
  color: #0d6efd;
}

.navbar {
  background-color: white;
  transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -ms-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
}

.banner-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;

  /* font-weight: 700;
  font-size: 5.75vw;
  line-height: 3rem; */
  text-transform: uppercase;
  margin-bottom: 1rem;
}


.why-section {
  position: relative;
  padding-top: 3rem;
}

.why-section-decor {
  background-color: aliceblue;
  content: '';
  left: -1.25rem;
  top: 0;
  position: absolute;
  height: 70%;
  width: 100vw;
  z-index: -1;
}

.products-section {
  position: relative;
}
.decorate-block {
  position: absolute;
  width: 100%;
  background: #F8F9FC;
  height: 60%;
  left: 95px;
  left: 10%;
  top: -10%;
  z-index: -1;
}

.consultation-section {
  background-color: #F8F9FC;
}

.consultation-form {
  border: none;
  box-shadow: 0px 12px 14px rgb(0 0 0 / 6%);
}

.consultation__wrapper {
  display: none;
}

.proj-img {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

/* ----------- */

.plan input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.plan {
  cursor: pointer;
  width: 100%;
  margin-bottom: 1rem;
}

.plan .plan-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  /* font-size: 1.25rem; */
  padding: .75rem .75rem .75rem 4rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #e1e2e7;
  border-radius: 10px;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  -o-transition: box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
  position: relative;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 5px;
}

.plan input[type="radio"] + .plan-content:after {
  content: "";
  position: absolute;
  height: 29px;
  width: 29px;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100%;
  border: 3px solid #fff;
  -webkit-box-shadow: 0px 0px 0px 1px #ECECEC;
  box-shadow: 0px 0px 0px 1px #ECECEC;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.plan input[type="radio"]:checked + .plan-content:after {
  content: "";
  position: absolute;
  height: 29px;
  width: 29px;
  background: #216fe0;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100%;
  border: 6px solid #fff;
  -webkit-box-shadow: 0px 0px 0px 1px #0066ff;
  box-shadow: 0px 0px 0px 1px #0066ff;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.plan input[type="radio"]:checked + .plan-content {
  border: 2px solid #216ee0;
  -webkit-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.selected-plan {
  display: none;
}
.video-modal {
  width: 90%;
  height: auto;
}

@media (min-width: 768px) {
  .why-section {
    padding-top: 10rem;
  }

  .why-section-decor {
    height: 100%;
    width: 50vw;
  }
  .padding-top-10 {
    padding-top: 7rem;
  }
  .banner-title {
    font-size: 43px;
    line-height: 45px;
    margin-bottom: 1rem;
  }
  .video-modal {
    width: 50vw;
  }

  .consultation-form {
    width: 50%;
  }
  .border-sm-start {
    border-left: 5px solid #dee2e6;;
  }
}

@media (min-width: 992px) {
  .navbar{
    background-color: transparent;
  }

  .padding-top-10 {
    padding-top: 10rem;
  }
  .banner-title {
    line-height: 55px;
  }
}